<div class="block">
  <div class="secondary-navigation">
    <%= render 'navigation', current_navigation: @current_navigation %>
  </div>
  <div class="content">
    <h2>Bestellung</h2>
    <div class="inner">
        <% if @orders.present? %>
        <table class="table">
          <tr>
            <th></th>
            <th>Datum</th>
            <th>Wert</th>
            <th></th>
          </tr>
            <%for order in @orders %>
            <tr>
              <td><%= image_tag order.auction.try(:product).try(:product_images).try(:first).try(:image).try(:thumb)%></td>
              <td><%=  l order.try(:created_at), format: :short %></td>
              <td><%= number_to_currency order.auction.price_value %>
              <td><%= link_to 'Anzeigen', admin_order_path(order) %><br/>

                  <%= link_to 'Bearbeiten', edit_admin_order_path(order)%>  
              </td>
            </tr>
            <% end %>
        </table>     
        <%= paginate @orders %>
      <% else %>
        Keine Auktionen
      <% end %>
    </div>
  </div>
</div>